.backround1 {
    background-color: black;
  }

.backround2 {
    background-color: rgb(160, 0, 0);
}

.backround3 {
    background-color: rgb(0, 100, 0);
}

.backround4 {
    background-color: rgb(175, 150, 0);
}

.backround5 {
    background-color: rgb(150, 50, 0);
}